In [40]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.options.display.float_format = '{:,.2f}'.format

In [41]:
# reading dataset for india IPUMS
data_venezuela = pd.read_stata('/users/quasar/downloads/ipumsi_00020.dta')
data_venezuela.groupby('year').count()

      country   sample   serial     hhwt   pernum    perwt      age      sex   school  edattain  edattaind  yrschool  empstat  empstatd   indgen  classwk  classwkd  hrswork1  hrswork2  incearn
year
1971   955389   955389   955389   955389   955389   955389   955389   955389   955389    955389     955389    955389   955389    955389        0   955389    955389         0    955389   955389
1981  1204536  1204536  1204536  1204536  1204536  1204536  1204536  1204536  1204536   1204536    1204536   1204536  1204536   1204536  1204536  1204536   1204536   1204536   1204536  1204536
1990  1518664  1518664  1518664  1518664  1518664  1518664  1518664  1518664  1518664   1518664    1518664   1518664  1518664   1518664  1518664  1518664   1518664         0         0  1518664
2001  1991821  1991821  1991821  1991821  1991821  1991821  1991821  1991821  1991821   1991821    1991821   1991821  1991821   1991821  1991821  1991821   1991821   1991821   1991821  1991821

## Sector in economy - Agriculture, Industry, Unskilled services, Skilled services

In [42]:
data_venezuela.head()

     country  year          sample  serial  hhwt  pernum  perwt age     sex             school                     edattain               edattaind         yrschool                empstat               empstatd indgen                classwk                              classwkd hrswork1                                           hrswork2   incearn
0  venezuela  1971  venezuela 1971    1000    10       1      8  36    male  no, not specified                      unknown         unknown/missing  unknown/missing               employed                at work    NaN     wage/salary worker  wage/salary worker, private employer      NaN  40-48 hours (except il1972, tt1980, tt1990, an...      1750
1  venezuela  1971  venezuela 1971    1000    10       2      8  35  female  no, not specified                      unknown         unknown/missing  unknown/missing               inactive              housework    NaN  niu (not in universe)                 niu (not in universe)      NaN                              niu (not in universe)  99999999
2  venezuela  1971  venezuela 1971    1000    10       3      8  12  female                yes  less than primary completed  some primary completed          5 years  niu (not in universe)  niu (not in universe)    NaN  niu (not in universe)                 niu (not in universe)      NaN                              niu (not in universe)  99999999
3  venezuela  1971  venezuela 1971    1000    10       4     10  11  female                yes  less than primary completed  some primary completed          5 years  niu (not in universe)  niu (not in universe)    NaN  niu (not in universe)                 niu (not in universe)      NaN                              niu (not in universe)  99999999
4  venezuela  1971  venezuela 1971    1000    10       5     10   9  female                yes  less than primary completed  some primary completed          3 years  niu (not in universe)  niu (not in universe)    NaN  niu (not in universe)                 niu (not in universe)      NaN                              niu (not in universe)  99999999

In [43]:
data_venezuela['indgen'].replace(to_replace=['agriculture, fishing, and forestry'], value='Agriculture', inplace=True)
data_venezuela['indgen'].replace(to_replace=['construction', 'manufacturing' ,'mining and extraction'], value='Industry', inplace=True)
data_venezuela['indgen'].replace(to_replace=['hotels and restaurants','private household services',
                    'transportation, storage, and communications', 'wholesale and retail trade'], 
                    value='Unskilled service', inplace=True)
data_venezuela['indgen'].replace(to_replace=['education', 'financial services and insurance','health and social work',
                    'public administration and defense',
                    'other services', 'business services and real estate', 
                    'electricity, gas, water and waste management' ], 
                    value='Skilled service', inplace=True)

indexNames = data_venezuela[data_venezuela['indgen'].isin(['unknown', 'niu (not in universe)'])].index
data_venezuela = data_venezuela.drop(indexNames)
data_venezuela['indgen'].replace(to_replace=['niu (not in universe)', 'unknown'], value='Agriculture', inplace=True)
print("\nSector by labour share % ")
share = data_venezuela.groupby('year')['indgen'].value_counts(normalize=True)
share

Sector by labour share %

year
1971  Agriculture          NaN
      Industry             NaN
      Unskilled service    NaN
      Skilled service      NaN
1981  Skilled service     0.31
      Unskilled service   0.30
      Industry            0.27
      Agriculture         0.13
1990  Agriculture         0.29
      Skilled service     0.27
      Unskilled service   0.24
      Industry            0.19
2001  Unskilled service   0.40
      Skilled service     0.29
      Industry            0.20
      Agriculture         0.10
Name: indgen, dtype: float64

## Mean of incwage (Wage) by year and sector

In [44]:
data_venezuela.yrschool.unique()

['unknown/missing', '5 years', '3 years', '4 years', 'none or pre-school', ..., '18 years or more', '12 years', 'some primary', 'some tertiary', 'special education']
Length: 24
Categories (24, object): ['none or pre-school' < '1 year' < '2 years' < '3 years' ... 'some secondary' < 'some tertiary' < 'special education' < 'unknown/missing']

In [45]:
print("\nMean of incwage by year and sector\n")
print(data_venezuela.groupby(['year','indgen', 'edattain'])['incearn'].mean())

Mean of incwage by year and sector

year  indgen             edattain
1971  Agriculture        less than primary completed             NaN
                         primary completed                       NaN
                         secondary completed                     NaN
                         university completed                    NaN
                         unknown                                 NaN
      Industry           less than primary completed             NaN
                         primary completed                       NaN
                         secondary completed                     NaN
                         university completed                    NaN
                         unknown                                 NaN
      Unskilled service  less than primary completed             NaN
                         primary completed                       NaN
                         secondary completed                     NaN
                         university completed                    NaN
                         unknown                                 NaN
      Skilled service    less than primary completed             NaN
                         primary completed                       NaN
                         secondary completed                     NaN
                         university completed                    NaN
                         unknown                                 NaN
1981  Agriculture        less than primary completed   16,990,633.28
                         primary completed             17,934,453.01
                         secondary completed           11,897,578.76
                         university completed           4,106,115.90
                         unknown                                 NaN
      Industry           less than primary completed    4,385,768.92
                         primary completed              3,654,731.16
                         secondary completed            3,147,660.09
                         university completed           2,693,732.10
                         unknown                                 NaN
      Unskilled service  less than primary completed    7,413,234.53
                         primary completed              5,924,532.15
                         secondary completed            4,251,759.49
                         university completed           3,849,462.67
                         unknown                                 NaN
      Skilled service    less than primary completed    5,313,477.51
                         primary completed              4,414,293.19
                         secondary completed            4,393,224.33
                         university completed           3,716,030.94
                         unknown                                 NaN
1990  Agriculture        less than primary completed    1,682,667.55
                         primary completed              1,677,151.24
                         secondary completed            2,858,314.46
                         university completed           4,166,380.51
                         unknown                        3,919,467.87
      Industry           less than primary completed    1,419,792.42
                         primary completed              1,430,114.74
                         secondary completed            1,835,655.76
                         university completed           3,137,967.99
                         unknown                        2,235,919.70
      Unskilled service  less than primary completed    1,987,664.81
                         primary completed              1,739,323.23
                         secondary completed            1,765,006.22
                         university completed           2,389,593.40
                         unknown                        3,590,766.44
      Skilled service    less than primary completed    1,406,718.19
                         primary completed              1,241,441.54
                         secondary completed            1,395,561.19
                         university completed           1,699,874.85
                         unknown                        2,497,642.45
2001  Agriculture        less than primary completed   19,415,839.47
                         primary completed             16,813,427.29
                         secondary completed           16,800,997.03
                         university completed          16,667,559.67
                         unknown                       29,223,833.93
      Industry           less than primary completed    9,800,942.25
                         primary completed              9,236,948.94
                         secondary completed           10,770,991.38
                         university completed          24,435,122.29
                         unknown                       29,203,725.03
      Unskilled service  less than primary completed    9,682,391.52
                         primary completed              9,227,570.00
                         secondary completed           10,457,207.38
                         university completed          19,444,918.70
                         unknown                       30,499,897.54
      Skilled service    less than primary completed    7,850,924.14
                         primary completed              7,509,154.69
                         secondary completed           10,308,028.79
                         university completed          17,122,545.11
                         unknown                       30,930,691.09
Name: incearn, dtype: float64

## Median of incwage by year and sector

In [46]:
print("\nMean of incwage by year and sector\n")
print(data_venezuela.groupby(['year','indgen', 'classwk'])['incearn'].mean())

Mean of incwage by year and sector

year  indgen             classwk
1971  Agriculture        niu (not in universe)             NaN
                         self-employed                     NaN
                         wage/salary worker                NaN
                         unpaid worker                     NaN
                         unknown/missing                   NaN
      Industry           niu (not in universe)             NaN
                         self-employed                     NaN
                         wage/salary worker                NaN
                         unpaid worker                     NaN
                         unknown/missing                   NaN
      Unskilled service  niu (not in universe)             NaN
                         self-employed                     NaN
                         wage/salary worker                NaN
                         unpaid worker                     NaN
                         unknown/missing                   NaN
      Skilled service    niu (not in universe)             NaN
                         self-employed                     NaN
                         wage/salary worker                NaN
                         unpaid worker                     NaN
                         unknown/missing                   NaN
1981  Agriculture        niu (not in universe)   14,828,659.07
                         self-employed           14,836,092.12
                         wage/salary worker       6,199,121.30
                         unpaid worker           95,812,916.88
                         unknown/missing         20,986,516.70
      Industry           niu (not in universe)   10,818,542.96
                         self-employed            5,208,214.41
                         wage/salary worker       3,190,898.21
                         unpaid worker           85,366,096.59
                         unknown/missing          5,508,073.52
      Unskilled service  niu (not in universe)   11,353,208.99
                         self-employed            6,035,457.79
                         wage/salary worker       5,358,323.27
                         unpaid worker           87,469,619.17
                         unknown/missing          8,420,382.47
      Skilled service    niu (not in universe)   18,935,732.21
                         self-employed            5,192,078.13
                         wage/salary worker       4,166,548.66
                         unpaid worker           86,821,945.82
                         unknown/missing          6,746,068.82
1990  Agriculture        niu (not in universe)             NaN
                         self-employed            2,473,958.90
                         wage/salary worker         980,542.76
                         unpaid worker              395,016.71
                         unknown/missing          8,001,020.48
      Industry           niu (not in universe)             NaN
                         self-employed            2,586,361.54
                         wage/salary worker       1,243,646.20
                         unpaid worker            1,333,333.32
                         unknown/missing          5,418,674.47
      Unskilled service  niu (not in universe)             NaN
                         self-employed            2,640,951.64
                         wage/salary worker       1,442,702.22
                         unpaid worker            2,560,455.17
                         unknown/missing          7,320,964.74
      Skilled service    niu (not in universe)             NaN
                         self-employed            2,860,971.06
                         wage/salary worker       1,147,362.13
                         unpaid worker            1,538,461.52
                         unknown/missing          4,411,670.65
2001  Agriculture        niu (not in universe)             NaN
                         self-employed           34,134,120.10
                         wage/salary worker       7,431,325.71
                         unpaid worker                    0.00
                         unknown/missing         69,672,174.69
      Industry           niu (not in universe)             NaN
                         self-employed           14,208,229.59
                         wage/salary worker       8,134,839.38
                         unpaid worker                    0.00
                         unknown/missing         73,248,482.69
      Unskilled service  niu (not in universe)             NaN
                         self-employed           14,042,774.49
                         wage/salary worker       7,557,409.72
                         unpaid worker                    0.00
                         unknown/missing         65,352,771.04
      Skilled service    niu (not in universe)             NaN
                         self-employed           15,273,344.49
                         wage/salary worker       8,482,056.18
                         unpaid worker                    0.00
                         unknown/missing         73,191,572.20
Name: incearn, dtype: float64

In [57]:
print("\nMedian of incwage by year and sector\n")
print(data_venezuela.groupby(['year','indgen', 'edattain'])['incearn'].median())

Median of incwage by year and sector

year  indgen             edattain
1971  Agriculture        less than primary completed         NaN
                         primary completed                   NaN
                         secondary completed                 NaN
                         university completed                NaN
                         unknown                             NaN
      Industry           less than primary completed         NaN
                         primary completed                   NaN
                         secondary completed                 NaN
                         university completed                NaN
                         unknown                             NaN
      Unskilled service  less than primary completed         NaN
                         primary completed                   NaN
                         secondary completed                 NaN
                         university completed                NaN
                         unknown                             NaN
      Skilled service    less than primary completed         NaN
                         primary completed                   NaN
                         secondary completed                 NaN
                         university completed                NaN
                         unknown                             NaN
1981  Agriculture        less than primary completed      912.00
                         primary completed              1,368.00
                         secondary completed            3,000.00
                         university completed           6,000.00
                         unknown                             NaN
      Industry           less than primary completed    1,600.00
                         primary completed              2,000.00
                         secondary completed            3,500.00
                         university completed           8,000.00
                         unknown                             NaN
      Unskilled service  less than primary completed    1,326.50
                         primary completed              1,960.00
                         secondary completed            3,000.00
                         university completed           6,000.00
                         unknown                             NaN
      Skilled service    less than primary completed    1,400.00
                         primary completed              1,850.00
                         secondary completed            2,900.00
                         university completed           5,900.00
                         unknown                             NaN
1990  Agriculture        less than primary completed    2,580.00
                         primary completed              3,000.00
                         secondary completed            6,000.00
                         university completed          15,000.00
                         unknown                        2,795.00
      Industry           less than primary completed    6,000.00
                         primary completed              6,768.00
                         secondary completed           10,500.00
                         university completed          22,000.00
                         unknown                        6,450.00
      Unskilled service  less than primary completed    4,500.00
                         primary completed              6,000.00
                         secondary completed            8,600.00
                         university completed          15,000.00
                         unknown                        5,160.00
      Skilled service    less than primary completed    5,800.00
                         primary completed              6,200.00
                         secondary completed            9,000.00
                         university completed          13,200.00
                         unknown                        6,000.00
2001  Agriculture        less than primary completed      120.00
                         primary completed                130.00
                         secondary completed              280.00
                         university completed             590.00
                         unknown                          140.00
      Industry           less than primary completed      160.00
                         primary completed                185.00
                         secondary completed              360.00
                         university completed           1,000.00
                         unknown                          240.00
      Unskilled service  less than primary completed      144.00
                         primary completed                160.00
                         secondary completed              250.00
                         university completed             500.00
                         unknown                          200.00
      Skilled service    less than primary completed      150.00
                         primary completed                160.00
                         secondary completed              322.00
                         university completed             553.50
                         unknown                          240.00
Name: incearn, dtype: float64

In [58]:
data_venezuela.shape

(2642772, 21)

In [59]:
data_venezuela['yrschool'].replace(to_replace= ['none or pre-school'], value = 0, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['1 year'], value = 1, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['2 years'], value = 2, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['3 years'], value = 3 , inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['4 years'], value = 4, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['5 years'], value = 5, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['6 years'], value = 6 , inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['7 years'], value = 7, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['8 years'], value = 8, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['9 years'], value = 9 , inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['10 years'], value = 10, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['11 years'], value = 11, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['12 years'], value = 12, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['13 years'], value = 13, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['14 years'], value = 14, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['15 years'], value = 15, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['16 years'], value = 16, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['17 years'], value = 17, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['18 years or more'], value = 18 , inplace=True)

data_venezuela['yrschool'].replace(to_replace= ['not specified'], value = 90, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['some primary'], value = 91, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['some technical after primary'], value = 92, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['some secondary'], value = 93, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['some tertiary'], value = 94, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['adult literacy'], value = 95, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['special education'], value = 96, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['unknown/missing'], value = 98, inplace=True)
data_venezuela['yrschool'].replace(to_replace= ['niu (not in universe)'], value = 99, inplace=True)

In [60]:
# calculting mincer returns 
# use sector dummy and sex as control 

data_reg = pd.get_dummies(data_venezuela, columns=['indgen', 'sex'], drop_first=True)
data_reg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2642772 entries, 0 to 5670409
Data columns (total 23 columns):
 #   Column                    Dtype
---  ------                    -----
 0   country                   category
 1   year                      category
 2   sample                    category
 3   serial                    int32
 4   hhwt                      int16
 5   pernum                    int8
 6   perwt                     int16
 7   age                       category
 8   school                    category
 9   edattain                  category
 10  edattaind                 category
 11  yrschool                  category
 12  empstat                   category
 13  empstatd                  category
 14  classwk                   category
 15  classwkd                  category
 16  hrswork1                  category
 17  hrswork2                  category
 18  incearn                   int32
 19  indgen_Industry           uint8
 20  indgen_Unskilled service  uint8
 21  indgen_Skilled service    uint8
 22  sex_female                uint8
dtypes: category(14), int16(2), int32(2), int8(1), uint8(4)
memory usage: 98.3 MB

In [61]:
data_venezuela.edattain.unique()

['unknown', 'less than primary completed', 'primary completed', 'university completed', 'secondary completed']
Categories (5, object): ['less than primary completed' < 'primary completed' < 'secondary completed' < 'university completed' < 'unknown']

In [62]:
# transforming variables in educin 

# data_reg['edattain'].replace(to_replace=['illiterate, less than primary'], value = 0 , inplace=True)
data_reg['edattain'].replace(to_replace=['less than primary completed'], value = 2 , inplace=True)
data_reg['edattain'].replace(to_replace=['primary completed'], value = 5 , inplace=True)
# data_reg['edattain'].replace(to_replace=['middle'], value = 8 , inplace=True)
data_reg['edattain'].replace(to_replace=['secondary completed'], value = 10 , inplace=True)
# data_reg['edattain'].replace(to_replace=['higher secondary'], value = 12 , inplace=True)
data_reg['edattain'].replace(to_replace=['university completed'], value = 15 , inplace=True)
data_reg['edattain'].replace(to_replace=['unknown'], value = 99 , inplace=True)

In [63]:
data_venezuela.yrschool.unique()

[98, 5, 3, 4, 0, ..., 18, 12, 91, 94, 96]
Length: 24
Categories (24, int64): [0 < 1 < 2 < 3 ... 93 < 94 < 96 < 98]

In [64]:
data_reg = data_reg.loc[data_reg.yrschool.isin([4,  0,  2,  3,  1,  6,  5, 12, 11,  8,  9, 15,  7, 13, 10,
       14, 17, 18, 16])]

In [68]:
# income 
data_reg =  data_reg[data_reg['incearn'] != 0]

Y = data_reg[['year', 'incearn']]
X = data_reg[['year', 'sex_female','yrschool', 'indgen_Industry', 
                    'indgen_Unskilled service', 'indgen_Skilled service']]

(372956, 4)
(372956,)

In [69]:
# year 1981
Y_1981 = Y.loc[Y.year == '1981']['incearn']
X_1981 = data_reg.loc[data_reg.year == '1981']
X_1981_1 = X_1981[['sex_female',
                     'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]

print(X_1981_1.shape)
print(Y_1981.shape)

# regression of log wage on sector and sex 
reg_1 = sm.OLS(endog= np.log(Y_1981), exog= sm.add_constant(X_1981_1))
result_1 = reg_1.fit()
print(result_1.summary())

# for calculting mincer returns - adding years of schooling 
X_1981_2 = X_1981[['sex_female', 'yrschool',
                     'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
                     
reg_2 = sm.OLS(endog= np.log(Y_1981), exog= sm.add_constant(X_1981_2))
result_2 = reg_2.fit()
print(result_2.summary())
result_2

(372956, 4)
(372956,)

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.009
Model:                            OLS   Adj. R-squared:                  0.009
Method:                 Least Squares   F-statistic:                     865.7
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        19:32:06   Log-Likelihood:            -9.0396e+05
No. Observations:              372956   AIC:                         1.808e+06
Df Residuals:                  372951   BIC:                         1.808e+06
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        8.8826      0.014    630.178      0.000       8.855       8.910
sex_female                  -0.2277      0.010    -22.224      0.000      -0.248      -0.208
indgen_Industry             -0.8155      0.017    -49.365      0.000      -0.848      -0.783
indgen_Unskilled service    -0.7037      0.017    -42.435      0.000      -0.736      -0.671
indgen_Skilled service      -0.7109      0.017    -42.763      0.000      -0.743      -0.678
==============================================================================
Omnibus:                   228503.239   Durbin-Watson:                   1.481
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1747393.057
Skew:                           3.017   Prob(JB):                         0.00
Kurtosis:                      11.719   Cond. No.                         7.74
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.017
Model:                            OLS   Adj. R-squared:                  0.017
Method:                 Least Squares   F-statistic:                     1328.
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        19:32:07   Log-Likelihood:            -9.0239e+05
No. Observations:              372956   AIC:                         1.805e+06
Df Residuals:                  372950   BIC:                         1.805e+06
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        8.6479      0.015    590.430      0.000       8.619       8.677
sex_female                  -0.2462      0.010    -24.118      0.000      -0.266      -0.226
yrschool                     0.0694      0.001     56.092      0.000       0.067       0.072
indgen_Industry             -1.0484      0.017    -61.792      0.000      -1.082      -1.015
indgen_Unskilled service    -0.9017      0.017    -53.396      0.000      -0.935      -0.869
indgen_Skilled service      -1.0731      0.018    -60.389      0.000      -1.108      -1.038
==============================================================================
Omnibus:                   234126.190   Durbin-Watson:                   1.483
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1878088.757
Skew:                           3.095   Prob(JB):                         0.00
Kurtosis:                      12.085   Cond. No.                         53.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [70]:
# year 1990
Y_1990 = Y.loc[Y.year == '1990']['incearn']
X_1990 = data_reg.loc[data_reg.year == '1990']
X_1990_1 = X_1990[['sex_female',
                     'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]

# regression of log wage on sector and sex 
reg_3 = sm.OLS(endog= np.log(Y_1990), exog= sm.add_constant(X_1990_1))
result_3 = reg_1.fit()
print(result_3.summary())

# for calculting mincer returns - adding years of schooling 
X_1990_2 = X_1990[['sex_female', 'yrschool',
                     'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
                     
reg_4 = sm.OLS(endog= np.log(Y_1990), exog= sm.add_constant(X_1990_2))
result_4 = reg_4.fit()
print(result_4.summary())
result_4

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)
/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.009
Model:                            OLS   Adj. R-squared:                  0.009
Method:                 Least Squares   F-statistic:                     865.7
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        19:32:19   Log-Likelihood:            -9.0396e+05
No. Observations:              372956   AIC:                         1.808e+06
Df Residuals:                  372951   BIC:                         1.808e+06
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        8.8826      0.014    630.178      0.000       8.855       8.910
sex_female                  -0.2277      0.010    -22.224      0.000      -0.248      -0.208
indgen_Industry             -0.8155      0.017    -49.365      0.000      -0.848      -0.783
indgen_Unskilled service    -0.7037      0.017    -42.435      0.000      -0.736      -0.671
indgen_Skilled service      -0.7109      0.017    -42.763      0.000      -0.743      -0.678
==============================================================================
Omnibus:                   228503.239   Durbin-Watson:                   1.481
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1747393.057
Skew:                           3.017   Prob(JB):                         0.00
Kurtosis:                      11.719   Cond. No.                         7.74
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.065
Model:                            OLS   Adj. R-squared:                  0.065
Method:                 Least Squares   F-statistic:                     6247.
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        19:32:20   Log-Likelihood:            -8.1675e+05
No. Observations:              447060   AIC:                         1.634e+06
Df Residuals:                  447054   BIC:                         1.634e+06
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        8.0908      0.005   1637.042      0.000       8.081       8.101
sex_female                  -0.2705      0.005    -49.502      0.000      -0.281      -0.260
yrschool                     0.0730      0.001    120.735      0.000       0.072       0.074
indgen_Industry              0.4749      0.007     66.200      0.000       0.461       0.489
indgen_Unskilled service     0.3836      0.007     55.149      0.000       0.370       0.397
indgen_Skilled service       0.3075      0.007     42.013      0.000       0.293       0.322
==============================================================================
Omnibus:                   413020.742   Durbin-Watson:                   1.771
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         16067847.500
Skew:                           4.534   Prob(JB):                         0.00
Kurtosis:                      30.935   Cond. No.                         38.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [71]:
# year 2001
Y_2001 = Y.loc[Y.year == '2001']['incearn']
X_2001 = data_reg.loc[data_reg.year == '2001']
X_2001_1 = X_2001[['sex_female',
                     'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]

# regression of log wage on sector and sex 
reg_5 = sm.OLS(endog= np.log(Y_2001), exog= sm.add_constant(X_2001_1))
result_5 = reg_1.fit()
print(result_5.summary())

# for calculting mincer returns - adding years of schooling 
X_2001_2 = X_2001[['sex_female', 'yrschool',
                     'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
                     
reg_6 = sm.OLS(endog= np.log(Y_2001), exog= sm.add_constant(X_2001_2))
result_6 = reg_6.fit()
print(result_6.summary())

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)
/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.009
Model:                            OLS   Adj. R-squared:                  0.009
Method:                 Least Squares   F-statistic:                     865.7
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        19:32:48   Log-Likelihood:            -9.0396e+05
No. Observations:              372956   AIC:                         1.808e+06
Df Residuals:                  372951   BIC:                         1.808e+06
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        8.8826      0.014    630.178      0.000       8.855       8.910
sex_female                  -0.2277      0.010    -22.224      0.000      -0.248      -0.208
indgen_Industry             -0.8155      0.017    -49.365      0.000      -0.848      -0.783
indgen_Unskilled service    -0.7037      0.017    -42.435      0.000      -0.736      -0.671
indgen_Skilled service      -0.7109      0.017    -42.763      0.000      -0.743      -0.678
==============================================================================
Omnibus:                   228503.239   Durbin-Watson:                   1.481
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1747393.057
Skew:                           3.017   Prob(JB):                         0.00
Kurtosis:                      11.719   Cond. No.                         7.74
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.012
Model:                            OLS   Adj. R-squared:                  0.012
Method:                 Least Squares   F-statistic:                     1759.
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        19:32:49   Log-Likelihood:            -2.1159e+06
No. Observations:              745990   AIC:                         4.232e+06
Df Residuals:                  745984   BIC:                         4.232e+06
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        6.8663      0.016    416.916      0.000       6.834       6.899
sex_female                  -0.5158      0.011    -48.633      0.000      -0.537      -0.495
yrschool                     0.0977      0.001     66.242      0.000       0.095       0.101
indgen_Industry             -0.9372      0.019    -48.171      0.000      -0.975      -0.899
indgen_Unskilled service    -1.0366      0.018    -56.645      0.000      -1.072      -1.001
indgen_Skilled service      -0.8899      0.020    -44.052      0.000      -0.930      -0.850
==============================================================================
Omnibus:                   331732.472   Durbin-Watson:                   1.641
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1195637.199
Skew:                           2.357   Prob(JB):                         0.00
Kurtosis:                       7.031   Cond. No.                         62.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [79]:
from statsmodels.iolib.summary2 import summary_col

results_table  = summary_col(results = [result_1, result_2, result_3, result_4, result_5, result_6],
                              float_format= '%0.2f',
                              model_names=['1981(unadj.)', '1981(adj.)',
                                           '1990(unadj.)', '1990(adj.)',
                                           '2001(unadj.)', '2001(adj.)'],
                              regressor_order=["const" ,"sex_female", "yrschool", 
                                                  "indgen_Industry", "indgen_Unskilled service",
                                                  "indgen_Skilled service"],
                              drop_omitted=True,
                              stars = True)
results_table.add_title(title = "Venezuela : Mincer Return - Results from Earnings Regressions", results= None)
print(results_table)

                 Venezuela : Mincer Return - Results from Earnings Regressions
================================================================================================
                         1981(unadj.) 1981(adj.) 1990(unadj.) 1990(adj.) 2001(unadj.) 2001(adj.)
------------------------------------------------------------------------------------------------
const                    8.88***      8.65***    8.88***      8.09***    8.88***      6.87***
                         (0.01)       (0.01)     (0.01)       (0.00)     (0.01)       (0.02)
sex_female               -0.23***     -0.25***   -0.23***     -0.27***   -0.23***     -0.52***
                         (0.01)       (0.01)     (0.01)       (0.01)     (0.01)       (0.01)
yrschool                              0.07***                 0.07***                 0.10***
                                      (0.00)                  (0.00)                  (0.00)
indgen_Industry          -0.82***     -1.05***   -0.82***     0.47***    -0.82***     -0.94***
                         (0.02)       (0.02)     (0.02)       (0.01)     (0.02)       (0.02)
indgen_Unskilled service -0.70***     -0.90***   -0.70***     0.38***    -0.70***     -1.04***
                         (0.02)       (0.02)     (0.02)       (0.01)     (0.02)       (0.02)
indgen_Skilled service   -0.71***     -1.07***   -0.71***     0.31***    -0.71***     -0.89***
                         (0.02)       (0.02)     (0.02)       (0.01)     (0.02)       (0.02)
R-squared                0.01         0.02       0.01         0.07       0.01         0.01
R-squared Adj.           0.01         0.02       0.01         0.07       0.01         0.01
================================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

In [80]:
print(results_table.as_latex())

\begin{table}
\caption{Venezuela : Mincer Return - Results from Earnings Regressions}
\label{}
\begin{center}
\begin{tabular}{lllllll}
\hline
                          & 1981(unadj.) & 1981(adj.) & 1990(unadj.) & 1990(adj.) & 2001(unadj.) & 2001(adj.)  \\
\hline
const                     & 8.88***      & 8.65***    & 8.88***      & 8.09***    & 8.88***      & 6.87***     \\
                          & (0.01)       & (0.01)     & (0.01)       & (0.00)     & (0.01)       & (0.02)      \\
sex\_female               & -0.23***     & -0.25***   & -0.23***     & -0.27***   & -0.23***     & -0.52***    \\
                          & (0.01)       & (0.01)     & (0.01)       & (0.01)     & (0.01)       & (0.01)      \\
yrschool                  &              & 0.07***    &              & 0.07***    &              & 0.10***     \\
                          &              & (0.00)     &              & (0.00)     &              & (0.00)      \\
indgen\_Industry          & -0.82***     & -1.05***   & -0.82***     & 0.47***    & -0.82***     & -0.94***    \\
                          & (0.02)       & (0.02)     & (0.02)       & (0.01)     & (0.02)       & (0.02)      \\
indgen\_Unskilled service & -0.70***     & -0.90***   & -0.70***     & 0.38***    & -0.70***     & -1.04***    \\
                          & (0.02)       & (0.02)     & (0.02)       & (0.01)     & (0.02)       & (0.02)      \\
indgen\_Skilled service   & -0.71***     & -1.07***   & -0.71***     & 0.31***    & -0.71***     & -0.89***    \\
                          & (0.02)       & (0.02)     & (0.02)       & (0.01)     & (0.02)       & (0.02)      \\
R-squared                 & 0.01         & 0.02       & 0.01         & 0.07       & 0.01         & 0.01        \\
R-squared Adj.            & 0.01         & 0.02       & 0.01         & 0.07       & 0.01         & 0.01        \\
\hline
\end{tabular}
\end{center}
\end{table}