In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# pd.set_option('display.float_format', lambda x: '%.5f' % x)
# pd.options.display.float_format = '{:,.2f}'.format

pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
data = pd.read_stata("/users/quasar/downloads/Research_Project/120319-V3/data/data_JR.dta")
data.head()

  countrycode  country     year   emp        cgdpe           ck       rgdpna         rkna  delta  csh_c  csh_i  csh_x  csh_m  pl_c  pl_i        v_c        v_i        q_c        q_i  pl_m2  pl_m3  pl_m4  pl_m5  csh_m2  csh_m3  csh_m4  csh_m5  Ip_Mach  Ip_TraEq  Ip_Other  reer
0         BRA   Brazil 1,981.00 51.79   643,371.06 1,330,531.62 1,264,611.75 4,825,293.50   0.05   0.69   0.23   0.09  -0.09  0.33  0.37       0.00       0.00 936,055.30 528,896.22   0.42   0.39   0.44   0.46   -0.02   -0.05   -0.01   -0.00     0.00      0.00      0.00   NaN
1         CAN   Canada 1,981.00 11.50   633,263.94 1,775,576.75   703,812.81 2,045,828.00   0.04   0.57   0.28   0.29  -0.27  0.44  0.44 192,744.00  93,186.00 430,056.58 162,316.33   0.35   0.36   0.33   0.48   -0.09   -0.03   -0.04   -0.06     1.23      0.62      0.58   NaN
2         DEU  Germany 1,981.00 38.48 1,534,390.88 5,676,323.00 2,011,574.12 7,045,922.00   0.04   0.61   0.28   0.23  -0.29  0.52  0.46 551,016.40 225,110.20 934,740.16 332,455.91   0.43   0.49   0.44   0.42   -0.09   -0.05   -0.04   -0.03     0.99      0.53      0.90   NaN
3         EGY    Egypt 1,981.00 10.19    61,480.48    28,147.39   173,350.98   177,322.89   0.07   0.49   0.09   0.09  -0.21  0.25  0.64  12,457.90   5,816.40 213,934.34  65,117.19   0.27   0.26   0.29   0.30   -0.08   -0.01   -0.04   -0.03     0.11      0.08      0.10   NaN
4         FRA   France 1,981.00 22.71 1,215,920.00 3,966,573.50 1,335,366.50 5,204,345.50   0.04   0.57   0.28   0.18  -0.22  0.50  0.44 288,808.44 119,941.34 633,364.60 250,601.59   0.44   0.48   0.46   0.47   -0.06   -0.05   -0.03   -0.03     0.72      0.71      0.54   NaN